@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,400;0,700;0,900;1,100&family=Montserrat:wght@100;400;500&family=Open+Sans+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,700;0,900;1,300;1,400;1,500;1,900&display=swap');

body
{
background-color: #FFFFFF !important;      
font-family: 'Roboto', sans-serif !important;  
}


body::-webkit-scrollbar 
{
width:5px;
}

body::-webkit-scrollbar-track 
{
background: none;
}

body::-webkit-scrollbar-thumb 
{
background: black;
}

body::-webkit-scrollbar-thumb:hover 
{
background: black;
}



.menu_text
{
color: black !important;
letter-spacing: 1px;
font-weight: 700;    
letter-spacing: 1px;    
font-size:120%;    
font-weight: 400;   
font-family: 'Lato', sans-serif !important;   
}

#hello > h1
{
font-size:110%;
font-weight: 400;
margin: 20px;   
}

#hello > p
{
text-align: center;
font-size:94%;       
}

#hello
{
text-align: center;
margin-top: 60px;     
}

.menu_pasek
{
background-color: #54B1FF !important;  
font-weight: 900;      
}

.navbar-brand
{
margin-right: 0px !important;    
}

main
{ 
padding: 50px;  
min-height: 900px;    
}

footer
{
height: 60px;
background-color: black;
color: white;
text-align: center;
font-size: 20px;
padding-top: 15px; 
clear: both;    
}

#kafelki
{
margin-left: auto;
margin-right: auto;
width: 90%;  
position: relative;    
}
figure
{
position: relative;    
    
}

.blok 
{
float: left;
margin: 20px;
display: block;
text-align: center;
border-radius: 20px;      
}

.blok > img
{
width: 300px !important;
height: 300px !important;    
display: block;    
border-radius: 20px;    
box-shadow: 4px ;  
}

.menu_text:hover
{
color: #424543 !important;    
}

.navbar.center .navbar-inner 
{
text-align: center;
}

.navbar.center .navbar-inner .nav 
{
display:inline-block;
float: none;
vertical-align: top;  
}

img 
{
background:#000;
border: 10px solid rgba(0, 0, 0,1);
border-radius: 20px;
display: block;
margin: 1.3em auto;
max-width: 95%;
transition: 0.5s;
-webkit-box-shadow: 11px 10px 9px -4px rgba(0,0,0,0.82); 
box-shadow: 11px 10px 9px -4px rgba(0,0,0,0.82);  
-webkit-background-clip: padding-box;
}


/* Okienka z animacjami */
.overlayT
{
position: relative;
transform: scale(1);
transition: transform 0.7s ease-in-out;
text-align: center;
}

.overlayT .link
{
position: absolute;
display: block;
height: 100%;
width: 96%;
background-color: #000000;
left: 6px;
top: 0px;
opacity: 0;
transition: opacity 0.4s ease-in-out;  
border-radius: 20px;    
box-shadow: 4px;
border:3px solid black; 
text-decoration: none;
color: white;   
transition-delay: 0.5s; 
padding: 5%;    
}


.overlayT > a > p
{
text-align: center;
text-transform:uppercase;
font-size: 26px !important;  
margin-bottom: 5px; 
}

.overlayT > a >hr
{
width: 50%;
height: 1px;
background-color:white;
margin-top: 0px;    
margin-bottom: 15px;    
}

.overlayT > a >h2
{   
text-align: center;
text-transform:uppercase;   
font-size: 16px;     
text-align: left;
opacity:0;    
}

.overlayT > a >h3
{
text-align: center;
text-transform:uppercase;
font-size: 13px; 
margin-bottom: 15px;     
}

.overlayT.animate 
{
transform: scale(1.07);
}


.overlayT.onload
{
transform: scale(1.02);
}


a.disabled 
{
pointer-events: none;
cursor: default;
}


/*Medium*/
@media(min-width:768px,max-width: 991px)
{
	.overlayT > a > p
    {
    text-align: center;
    text-transform:uppercase;
    font-size: 20px; 
    margin-bottom: 2px; 
    margin-top: 0px; 
    }
    
   


    .overlayT > a >hr
    {
    width: 50%;
    height: 1px;
    background-color:white;
    margin-top: 0px;    
    margin-bottom: 5px;    
    }


    .overlayT > a >h2
    {   
    text-align: center;
    text-transform:uppercase;   
    font-size: 11px;
    margin-top: 0px; 
    opacity:0;  
    }

    .overlayT > a >h3
    {
    text-align: center;
    text-transform:uppercase;
    font-size: 13px;     
    }
}



/*Od Medium do Large*/
@media(min-width:768px,max-width:1199px)
{
	.overlayT > a > p
    {
    text-align: center;
    text-transform:uppercase;
    font-size: 50px; 
    margin-bottom: 2px; 
    margin-top: 0px; 
    }


 
    
    .overlayT > a >hr
    {
    width: 75%;
    height: 2px;
    background-color:white;
    margin-top: 4px;    
    margin-bottom: 15px;    
    }


    .overlayT > a >h2
    {     
    text-align: center;
    text-transform:uppercase;   
    font-size: 21px;
    margin-top:15px; 
    opacity:0;      
        
    }

    .overlayT > a >h3
    {
    text-align: center;
    text-transform:uppercase;
    font-size: 18px;     
    }
}

#js
{
color: yellow; 
text-decoration: none;
background-color: black;   
margin: 0px;
padding: 0px;    
}
#ps
{
color: skyblue; 
text-decoration: none;
background-color: black;    
margin: 0px;
padding: 0px;        
}

.vss
{
color: skyblue; 
text-decoration: none;
background-color: black;    
margin: 0px;
padding: 0px;      
    
}

.opis_next
{     
opacity:1.0 !important;           
}
