
img 
{
background:#000;
border: 10px solid rgba(0, 0, 0,1);
border-radius: 20px;
display: block;
margin: 1.3em auto;
max-width: 95%;
transition: 2s;
-webkit-box-shadow: 11px 10px 9px -4px rgba(0,0,0,0.82); 
box-shadow: 11px 10px 9px -4px rgba(0,0,0,0.82);  
-webkit-background-clip: padding-box;
}

img:hover 
{
transform: scale(1.06);
}




/*
.loader {
  border: 16px solid white; 
  border-top: 16px solid lightblue;
  border-bottom: 16px solid black; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

<div class="loader wait"></div> //dodaj se


@keyframes spin 
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


*/







