body
{
background-color: #FFFFFF !important;    
}

.menu_text
{
color: black !important;
font-family:Lato ;
letter-spacing: 1px;
font-size:110%;    
font-weight: 400;        
}

#hello > h1
{
font-size:110%;
font-weight: 400;
margin: 20px;   
}

#hello > p
{
text-align: center;
font-size:94%;       
}

#hello
{
text-align: center;
margin-top: 60px;     
}

.menu_pasek
{
background-color: #54B1FF !important;    
border-bottom: 2px solid black;    
}

.navbar-brand
{
margin-right: 0px !important;    
}

main
{ 
padding: 50px;  
min-height: 900px;    
}

footer
{
height: 60px;
background-color: black;
color: white;
text-align: center;
font-size: 20px;
padding-top: 15px; 
clear: both;    
}

#kafelki
{
margin-left: auto;
margin-right: auto;
width: 90%;   
}

.blok 
{
float: left;
margin: 20px;
display: block;
text-align: center;
border-radius: 20px;      
}

.blok > img
{
width: 300px !important;
height: 300px !important;    
display: block;    
border-radius: 20px;    
box-shadow: 4px ;  
}

.menu_text:hover
{
color: #424543 !important;    
}

.navbar.center .navbar-inner 
{
text-align: center;
}

.navbar.center .navbar-inner .nav 
{
display:inline-block;
float: none;
vertical-align: top;  
}

img 
{
background:#000;
border: 10px solid rgba(0, 0, 0,1);
border-radius: 20px;
display: block;
margin: 1.3em auto;
max-width: 95%;
transition: 2s;
-webkit-box-shadow: 11px 10px 9px -4px rgba(0,0,0,0.82); 
box-shadow: 11px 10px 9px -4px rgba(0,0,0,0.82);  
-webkit-background-clip: padding-box;
}

img:hover 
{
transform: scale(1.06);
}























